.video-card {
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    border: 2px solid transparent;
    &.rounded {
        border-radius: 16px;
    }
    &.selected {
        border: 2px solid #0e7ceb;
        // padding-ttop: 2px;
    }
    position: relative;
    &:hover &__dropdown-options {
        visibility: visible;
    }
    &__header {
        // text-align: center;
        word-break: break-word;
        margin: 20px;
    }
    &__dropdown-options {
        position: absolute !important;
        z-index: 3;
        right: 10px;
        top: 10px;
        visibility: hidden;
    }
    .video-container {
        position: relative;
    }
    .topbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 1rem;
        button {
            margin-left: 10px;
            background-color: black;
            color: white;
        }
        .select-checkbox {
            -ms-transform: scale(1.5); /* IE */
            -moz-transform: scale(1.5); /* FF */
            -webkit-transform: scale(1.5); /* Safari and Chrome */
            -o-transform: scale(1.5); /* Opera */
            transform: scale(1.5);
            background-color: transparent;
            color: #0e7ceb;
        }
    }
}

