.video-player {
    position: relative;
    .react-player__shadow {
        border: 2px solid white;
    }

    .overlay-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .play-icon {
        color: white;
        cursor: pointer;
        box-shadow: 0 0 0 1px white inset !important;
        // position: absolute;
        // left: 45%;
        // top: 45%;
        // width: 10%;
        color: white;
        background-color: rgba(0,0,0,0.5) !important;
        font-size: 2rem;
    }
    .video-duration {
        background-color: #111111;
        position: absolute;
        bottom: 15px;
        left: 10px;
        color: white;
        font-size: 12px;
        padding: 0 5px;
        display: inline-block;
    }
    .video-fullscreen {
        position: absolute;
        right: 0;
        bottom: 15px;
        background-color: black;
        color: white;
        opacity: 0.5;
    }
    .progress-container {
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        .progress {
            margin: 0;
            .bar {
                background-color: #ff5c5c;
            }
        }
    }
}