
.notification {
    opacity: 1;
  }
  
  #root {
    width: 100%;
    height: 100%;
  }
  
  .ui.modal>.header:not(.ui) {
    background-color: #ecf5fe !important;
    color: #333333 !important;
  }

